@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.floating-circles {
  animation: float 4s ease-in-out infinite;
}

.rotating-circles {
  animation: rotate 10s linear infinite;
}

.fade-in {
  animation: fadeIn 1.5s ease-in;
}
